@page "/"

<PageTitle>iNovate Interview Blazor</PageTitle>

<h1>Hello Interview team,</h1>
<p>I hope this submission is satisfactory!
 The 3 parts to the assignment can be found in the navigation bar to the left.</p>

